body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: powderblue;
  }
  
  .calculator {
    background: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(8, 60, 230);
  }
  
  #display {
    color: blueviolet;
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .buttons button {
    background-color: aqua;
    color: rgb(202, 50, 30);
    width: 60px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
  }
  